/* Стилизация аккордеона */

.accordion__item .accordion__title::-webkit-details-marker,
.accordion__item .accordion__title::marker {
    /*display: none;*/
    content: "";
    border: 1px dotted white;
    width: 3px;
    height: 3px;
    background-color: black;
    box-sizing: border-box;
    transform: scale(11);
}

.accordion__item {
    max-width: 730px;
    padding: 32px;
    background: white;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
}

.accordion__item[open] .accordion__title ~ * {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0}
}

.accordion__icon{
    position: absolute;
    top: 40px;
    right: -250px;
}

.accordion__title {
    color: #212429;
}

.accordion__text {
    color: #495057;
}